
 /*#tHead {
  padding: 10px;
  margin:0px;
  background: rgb(53, 52, 52);
}*/

body {
    height: 100%;
    padding: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10px;
    line-height: 100%;
    color: white;
    background: #4aaaa5;
    /*background-image: url(file:///Users/Swechacha/Desktop/Bootcamp/week1/images/background.jpg);*/
    /*background-position: center;*/
  }


  #top-tabs {
    padding-top: 25px;
    padding-right: 0%;
    overflow: auto;
    margin-bottom: -15px;
    color: rgb(221, 212, 212);
    background: ghostwhite;
    float: left;
    width: 100%;
    height: 60px;
    border: 20px gray;

  }

  h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia', Times, serif;
    color:#4aaaa5;
  }

  h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
  }



  #nameBlock{
    float: left;
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4aaaa5;
    width: 150px;
    color:white;
    text-align: center;
    height: 20%;
    font-size: 15px;
    font-weight: bold;
    border: #cccccc;
    border-bottom: 5px;
  }

  a:link, a:visited {
    background-color: ghostwhite;
    color: darkgrey;
    padding: 14px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    text-align: left;
    color: rgb(125, 125, 125);
    text-decoration: none;
    display: inline-block;
}

  #left{
    float: right;
    width: 130px;
    padding-right: 0px;
    margin-right: 150px;
    color: gray;
    background: rgba(255, 255, 255, 0);
    font-size: 13px;
  }

  #right{
    float: right;
    width: 130px;
    color: gray;
    background: rgba(255, 255, 255, 0);
    padding-right: 0px;
    font-size: 13px;
  }

  #middle{
    float: right;
    width: 135px;
    margin-right: -100;
    padding-right:0;
    color: gray;
    background: rgba(255, 255, 255, 0);
    font-size: 13px;
  }

  .clearfix::after{
    content:"";
    display: block;
    clear: both;
  }

  .container {
    float: left;
    background-image: url(https://swechchhaparajuli.github.io/images/background.png);
    overflow:auto;
    width:90px;
    height:70%;
    margin-bottom: 10px;
    margin-right: 0;
    padding-right:73%;
    padding-left: 20%;
    padding-bottom: 165px;
    padding-top: 20px;
  }

 #title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .aboutBlock { 
    width: 600px;
    height: 350px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top:20px;
    margin-left: 70%;
    background: white;
    margin-bottom: 5px;
    color:  #777777;
    text-align: left;
    font-size: 24px;
    border-color: #dddddd;
    border-width: 5px;
  }  

  .contactBlock {
    width: 600px;
    height: 400px;
    margin-left: 70%;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    background: white;
    margin-bottom: -40px;
    color:  #777777;
    text-align: left;
    font-size: 22px;
    border-color: #dddddd;
    border-width: 5px;
  }

  .portfolioHolder{
    width: 545px;
    height: 500px;
    margin-left: 70%;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 20px;
    background: white;
    margin-bottom: 0px;
    color:  #777777;
    text-align: left;
    font-size: 24px;
    border-color: #dddddd;
    border-width: thick;
  }

  .imageGrid{
    margin-left: 5px;
    margin-right: 200px;
  }

  #portfolio-img-1{
    float: left;
    padding: 15px;
  }

  .label-1{
    float: left;
    width: 140px;
    height: 20px;
    background-color:#4aaaa5;
    margin:0;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }

  #portfolio-img-2{
    float: left;
    padding: 15px;
  }

  .label-2{
    float: left;
    width: 140px;
    height: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }


  #portfolio-img-3{
    float: left;
    padding: 15px;
  }

 .label-3{
    float: left;
    width: 140px;
    height: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }

  #portfolio-img-4{
    float: left;
    padding: 15px;
  }

 .label-4{
    float: left;
    width: 140px;
    height: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }

  #portfolio-img-5{
    float: left;
    padding: 15px;
  }

  .label-5{
    float: left;
    width: 140px;
    height: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }


input[type=text]{
  width: 90%;
  height: 20px;
  color: grey;

}

h3{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}



  /*.label-5{
    float: left;
    width: 140px;
    height: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:15px;
    margin-top:0px;
    font-size: 20px;
  }*/

  input[type=submit]{
    height: 40px;
    width: 100px;
    background: #4aaaa5;
    text-align: center;
    font-size: 15px;
    color: white;
  }

  input[name=message]{
    height: 100px;
    width: 90%
  }

  p{
    text-emphasis: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
  }


  #me{
    float: left;
    margin: 15px;
    padding-right: 5px;
  }
 

  #tFoot {
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40%;
    padding-right: 40%;
    margin-bottom: 0;
    height: 10%;
    background: #666666;
  }

