

body{
  background-color: oldlace;
  background-image: url("../images/background.jpg");
  color: white;
}

.container{
  margin-left: 5%;
}

.card{
  margin: 1rem;
  position: relative;
  float: left;
  opacity: 0.7;
}

#cardlinks{
  margin: 2px;
}

.jumbotron{
  background: linear-gradient( rgb(48, 47, 47) 60%, transparent 100% );
}

.navb {
  border: 2px darkgray;
  height: 90px;
  font-size: 20px;
  background: transparent;
  color: white;
  font-size: 20px;
}

#profile-description{
  float:left;
  font-size: 20px;
}

#profile-image{
  float:left;
}

h1{
  font-size: 30px;
  color: white;
}

#content{
  background-color: grey;
  opacity: 0.7;
  color: white;
}

.navb:hover{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 25px;
}

.navb :active{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 25px;
}

#home{
  width: 25%;
  text-align-last: left;
}

.horizontal-scroll-wrapper {
  width: 2000px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#navigation{
  margin-top: 5%;
  margin-left: 5%;
}