

body{
  background-color: oldlace;
  background-image: url("../images/background.jpg");
}

.btn{
  border: 2px darkgray;
  height: 90px;
  font-size: 20px;
  background: transparent;
  color: white;
  font-size: 20px;
}

h1{
  font-size: 30px;

}

#content{
  background-color: grey;
  opacity: 0.7;
  color: white;
  
}


.btn:hover{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 25px;
}

.btn:active{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 25px;
}

#home{
  width: 25%;
  text-align-last: left;
}


#navigation{
  margin-top: 5%;
}