
body{
  background-color: rgb(240, 213, 190);
  font-family: 'Scheherazade', serif;
  color: rgb(167, 160, 160);
  z-index: 0;
  overflow-x: hidden;
}

.container-fluid{
  padding-left: -200px;
  align-content: flex-start;
}

#page1{
  background-color:rgb(240, 213, 190);
  width: 1300px;
  position: relative;;
  z-index: 0;
  height: 600px;
}

.col-4{
  padding-left: 0px;
}

.artport {
  height: 100%;
  width: 103.5%;
  font-size: 50px;
  text-align: center;
  background-size: cover;
  border: rgba(59, 57, 57, 0);
  background-image: url(/Users/Swechacha/Desktop/swechchhaparajuli.github.io/images/artport.jpeg);
  background-repeat: no-repeat;
}

.webdevport{
  height: 100%;
  width: 104%;
  font-size: 50px;
  background-image: url(/Users/Swechacha/Desktop/swechchhaparajuli.github.io/images/code.jpg);
  border: rgba(59, 57, 57, 0);
  text-align: center;
  background-size: cover;
}


.mainprojport{
  height: 100%;
  width: 103.5%;
  font-size: 50px;
  border: rgba(59, 57, 57, 0);
  background-image: url(/Users/Swechacha/Desktop/swechchhaparajuli.github.io/images/currentproj.png);
  text-align: center;
  background-size: cover;
}

#page2 {
  height: 600px;
  background-color:  rgb(14, 14, 34);
  width: 1300px;
  font-size: 20px;
  overflow: scroll;
  opacity: 0.8;
  position: relative;
}

#page3 {
  width: 1300px;
  height: 650px;
  transform: rotate(0deg) translate(20%, 10%);
}

.btn-outline-secondary{
  border-width: 3px;
}

.horizontal-scroll-wrapper{
  z-index: 0;
  /*background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  transform: rotate(0deg) translate(10%, 0%);
}


#main {
  /*transition: margin-left .5s;
  padding: 20px;*/
}

.container > h1{
  font-size: 80px;
  /*transform: rotate(0deg) translate(230%, 80%); when the background isnt my face*/ 
  transform: rotate(0deg) translate(50%, 250%);
}
/*.container{
  transform: rotate(0deg) translate(70%, -20%);
}*/


hr{
  border: #f1f1f1;
  border-width: 10px;
}

.mtn{
  color: rgba(59, 57, 57, 0.495);
  opacity: 0.5;
}

.card{
  margin: 1rem;
  position: relative;
  float: left;
  opacity: 0.7;
  overflow: scroll;
}

.centerPage{
  transform: translate(20%, 90%);
  font-size: 100px;

}

p{
  font-family: 'Scheherazade', serif;
  font-size: 20px;
}

#cardlinks{
  margin: 2px;
}

.jumbotron{
  background: linear-gradient( rgb(48, 47, 47) 60%, transparent 100% );
}

.card-img-top{
  height: 200px;
}

.card-body{
  height: 400px;
}

.navb {
  border: 2px darkgray;
  height: 90px;
  font-size: 20px;
  background: transparent;
  color: white;
  font-size: 20px;
}

#profile-description{

  font-family: 'Scheherazade', serif;
  /*transform: translate(20%, 500%);*/
  font-size: 20px;
}

.about{
   padding-left: 200px;
}

h1{
  font-size: 20px;
  color: rgba(59, 57, 57, 0.495);
  text-shadow: rgba(59, 57, 57, 0.952);
}


#navigation{
  margin-top: 5%;
  margin-left: 0%;
}

#content{
  background-color: grey;
  opacity: 0.7;
  color: white;
}

.navb:hover{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 20px;
}

.navb :active{
  background: radial-gradient( rgb(73, 72, 72) 20%, transparent 60% );
  color: white;
  font-size: 15px;
}

#home{
  width: 25%;
  text-align-last: left;
}
.btn:hover {
  opacity: 0.8;
  height: 101%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

footer{
  background-color: grey;
}