body{
  background-color: white;
  font-family: 'Scheherazade', serif;
  color: #a7a0a0;
  z-index: 0;
  overflow-x: hidden;
}

.portfolios{
  height: 100%;
  padding-left: 0;
}

h2{
  font-size: 20px;
  opacity: 0.7;
  font-weight: bold;
  color: rgba(26, 24, 24, 0.479);
}


#page1{
  background-color:white;
  position: relative;
  z-index: 0;
  height: 600px;
  align-content: center;
}

#page2 {
  height: 600px;
  background-color: white;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

#page3 {
  padding-top: 0px;
  background-color: white;
  height: 1px;
  overflow: hidden;
}

#page4 {
  padding-top: 0px;
  background-color: white;
  height: 1px;
  overflow: hidden;
}

.artport {
  height: 120%;
  width: 120%;
  font-size: 50px;
  text-align: center;
  background-size: cover;
  border: rgba(59, 57, 57, 0);
  background-image: url(../images/artport.png);
  background-repeat: no-repeat;
}

.webdevport{
  height: 120%;
  width: 120%;
  font-size: 50px;
  background-image: url(../images/code.jpg);
  background-color: grey;
  border: rgba(59, 57, 57, 0);
  text-align: center;
  background-size: cover;
}

.projtwo{
  height: 50%;
  width: 120%;
  font-size: 50px;
  border: rgba(59, 57, 57, 0);
  background-image: url(../images/currentproj.png);
  text-align: center;
  background-size: cover;
}

.projone{
  height: 50%;
  width: 120%;
  font-size: 50px;
  border: rgba(59, 57, 57, 0);
  background-image: url(../images/ucareimg.png);
  text-align: center;
  background-size: cover;
}

.btn-outline-secondary{
  border-width: 3px;
}

.horizontal-scroll-wrapper{
  z-index: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
}

.col-4 > h1{
  font-size: 80px;
}

.head > h1{
  font-size: 60px;
  color: maroon;
  opacity: 0.7;
}

hr{
  border: #f1f1f1;
  border-width: 10px;
}

.mtn{
  color: rgba(59, 57, 57, 0.495);
  opacity: 0.5;
}

.card{
  margin: 1rem;
  position: relative;
  float: left;
  opacity: 0.7;
  overflow: hidden;
}

.centerPage{
  font-size: 100px;
}

p{
  font-family: 'Scheherazade', serif;
  font-size: 20px;
}

#cardlinks{
  margin: 2px;
}


.card-img-top{
  height: 200px;
}

.navb {
  border: 2px darkgray;
  height: 90px;
  font-size: 20px;
  background: transparent;
  color: grey;
  font-size: 20px;
}

#profile-description{
  font-family: 'Scheherazade', serif;
  font-size: 20px;
}

h1{
  font-size: 20px;
  color: rgba(59, 57, 57, 0.495);
  text-shadow: rgba(59, 57, 57, 0.952);
}


#navigation{
  margin-top: 5%;
  margin-left: 0%;
}

#content{
  /*background-color: grey;*/
  opacity: 0.7;
}

.navb:hover{
  color: grey;
  font-size: 10px;
}

.navb :active{
  color: grey;
  font-size: 10px;
}


.btn:hover {
  opacity: 1.0;
  color: gray;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .mtn {opacity: 0.0;}
  .artport{font-size: 30px;}
  .webdevport{font-size: 30px;}
  .projone{font-size: 30px;}
  .projtwo{font-size: 30px;}
}

@media screen and (max-width: 500px) {
  #page2 {height: ;}
  #mepic {width: 220px; height: auto;}
  .artport{font-size: 50px; }
  .webdevport{font-size: 50px;}
  .projone{font-size: 50px;}
  .projtwo{font-size: 50px;}
}

footer{
  background-color: grey;
}