<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>Swechchha's Portfolio</title>


  <!-- We need to bring in the bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Parisienne|Scheherazade" rel="stylesheet">

  <!-- This line is money! It points your HTML to the CSS file. -->
  <!-- Notice the "relative" pathway? It matches a file inside our current directory's "assets" folder. Open it to see our style rules. -->
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>

  <title>Swechchha Parajuli</title>

  <body>

    <div class = "sidenav" id = "navigation">
      <a href="index.html" class="btn btn-link navb home" style = "font-size: 25px"> Home </button></a>
      <a href="artPortfolio.html" class="btn btn-link navb artPortfolio" style = "font-size: 25px"> Art Portfolio </button></a>
      <a href="webdevPortfolio.html" class="btn btn-link navb webdevPortfolio" style = "font-size: 25px"> Web Development Portfolio </button></a>
      <a href="projects.html" class="btn btn-link navb project" style = "font-size: 25px"> Big Projects </button></a>
    </div>

    <div class="horizontal-scroll-wrapper rectangles col-lg" id = "main">
<br>
<br>
<br>
      <div class = "jumbotron">
      <h1> Web Dev Projects </h1>

        <div class="card row" style="width: 18rem;">
            <img class="card-img-top" src="" alt=" image ">
            <div class="card-body">
              <h2 class="card-title" style = "color: black">NightCrawler App</h2>
              <p class="card-text" style = "color: black"> "NightCrawler" mobile web-based app came out of the need to enable users to always have viable route options that ensure safety </p>
              <br>
              <br>
              <a href="https://github.com/swechchhaparajuli/BookSearch" class="btn btn-info" id = "cardlinks">Go to Deployed Site</a>
              <a href="https://github.com/swechchhaparajuli/BookSearch" class="btn btn-info" id = "cardlinks">Check Out the Code</a>
            </div>
          </div>

          <div class="card row" style="width: 18rem;">
              <img class="card-img-top" src="" alt=" image ">
              <div class="card-body">
                <h2 class="card-title" style = "color: black"> unTrending </h2>
                <p class="card-text" style = "color: black"> unTrending is an application that gives its user access to news from a variety of outlets. The media often presents biased information as fact, something that people are becoming more aware of nowadays than they had been before. unTrending aims to show a multitude of perspectives of the same news event so that the user can have an informed view of the world.  </p>
                <br>
                <br>
                <a href="https://github.com/swechchhaparajuli/BookSearch" class="btn btn-info" id = "cardlinks">Go to Deployed Site</a>
                <a href="https://github.com/swechchhaparajuli/BookSearch" class="btn btn-info" id = "cardlinks">Check Out the Code</a>
              </div>
            </div>

            <div class="card row" style="width: 18rem;">
              <img class="card-img-top" src="" alt=" image ">
            </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/js/index.js"></script>
    </body>
     
      <script src="../static/js/sugar.min.js"></script>
      <script src="../static/js/axios.min.js"></script>
      <script src="../static/js/vue.js"></script>
      <script src="../static/js/utils.js"></script> 
</html>