<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>Swechchha's Portfolio</title>


  <!-- We need to bring in the bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Parisienne|Scheherazade" rel="stylesheet">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  

  <!-- This line is money! It points your HTML to the CSS file. -->
  <!-- Notice the "relative" pathway? It matches a file inside our current directory's "assets" folder. Open it to see our style rules. -->
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>

  <title>Swechchha Parajuli</title>

  <body>
      <div class = "sidenav" id = "navigation">

        <a href="../index.html" class="btn btn-link navb home" style = "font-size: 25px"> Home </button></a>
        <a href="artPortfolio.html" class="btn btn-link navb artPortfolio" style = "font-size: 25px"> Art Portfolio </button></a>
        <a href="webdevPortfolio.html" class="btn btn-link navb webdevPortfolio" style = "font-size: 25px"> Web Dev Portfolio </button></a>
        <a href="../index.html#me" class="btn btn-link navb contact" style = "font-size: 25px"> Contact Info </button> </a>
        <a href="projects.html" class="btn btn-link navb project" style = "font-size: 25px"> Big Projects </button></a>
      </div>

    <div id="vue-target">
    <div class="horizontal-scroll-wrapper rectangles" id = "main">
      <div class="row">
        <div v-for="post in posts" class="">
          <div v-if="post.portfolio == 'webdev'"  class="card column is-3" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title" style = "color: black">{{post.title}}</h2>
              <p class="card-text" style = "color: black">{{post.content}}</p>
              <br>
              <br>
              <div v-if="post.deployed != ''">
                <button v-on:click="go_deployed(post.id)" class="btn btn-info" id = "cardlinks">Go to Deployed Site</button>
              </div>
              <button v-on:click="go_src(post.id)" class="btn btn-info" id = "cardlinks">Check Out the Code</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  </body>
  
    <script src="../static/js/sugar.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/utils.js"></script> 
    <script src="../static/js/index.js"></script>

</html>